<%= turbo_frame_tag "post#{comment.post_id}ModalComment#{comment.id}" do %>
  <div id="post<%=comment.post_id%>ModalComment<%=comment.id%>">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <% if comment.user.profile_picture.attached? %>
          <%= image_tag comment.user.profile_picture, class: "rounded-circle", style: "width:3rem; height:3rem;" %>
        <% else %>
          <%= image_tag "default_avatar.png", class: "rounded-circle", style: "width:3rem; height:3rem;" %>
        <% end %>
        <div class="d-flex flex-column mx-2 justify-content-center">
          <small class="fw-bold" style="overflow:hidden; white-space: nowrap; text-overflow: ellipsis;max-width:10rem"><%= comment.user.username %></small>
          <p class="card-text m-0"><%= comment.body %></p>
          <small class="text-muted">About <%= time_ago_in_words(comment.created_at) %></small>
        </div>
      </div>
      <% if comment.user == current_user %>
        <%= button_to comment_path(id: comment.id), method: :delete, style: "background:none; border: none;" do %>
          <i class="fa fa-times"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
